<div class="jumbotron">
	    <div class="container">

		  	<div class="panel panel-info">

				<div class="panel-body">
					<%= render 'form', recipe: @recipe %>
				</div>

			</div>

  	    </div>
</div>
